{% include 'header.html' %}
<!-- Contenido Principal -->
<div class=" border-gray-200 lg:max-w-[50%] max-w-[60%] mx-auto mt-20">
    <div class="mx-auto px-4 py-1 border">
        <p class="text-2xl font-semibold">Editar Cliente</p>
    </div>
    <form action="/clientes/edit/actualizar" method="post">
        <input type="hidden" name="txtid" value="{{clientes['id']}}">
        <div class="flex flex-col border px-4 py-5 border-gray-200 gap-y-2">
            <div class="flex flex-col gap-y-2">
                <label for="">
                    Nombre
                </label>
                <input type="text" value="{{clientes['nombre']}}" class="text-black" name="nombre" id="" aria-describedby="helpId" placeholder="Nombre">
            </div>
            <div class="flex flex-col">
                <label for="">
                    Telefono
                </label>
                <input type="text" value="{{clientes['telefono']}}" class="text-black" name="telefono" id="" aria-describedby="helpId" placeholder="Telefono">
            </div>
            <div class="flex flex-col">
                <label for="">
                    Fecha
                </label>
                <input type="date" value="{{clientes['fecha']}}" class="text-black" name="fecha" id="" aria-describedby="helpId">
            </div>
            <div>
                <button class="bg-blue-700 w-fit py-2 px-4 rounded-md" type="submit">Actualizar</button>
            </div>
        </div>
    </form>
</div>

{% include 'footer.html' %}