{% include 'header.html' %}
<div class="mt-20">
    <h3 class="text-2xl font-bold mb-4 text-center">LISTA DE CLIENTES</h3>
    <a href="/clientes/create" class="bg-blue-700 w-fit py-2 px-4 rounded-md">Nuevo</a>
</div>
<br>
<div class="contenedorTabla w-screen">
    <table class="table-auto border border-gray-200 w-full">
        <thead class="">
            <tr>
                <th class="px-4 py-2">ID</th>
                <th class="px-4 py-2">Nombre</th>
                <th class="px-4 py-2">Telefono</th>
                <th class="px-4 py-2">Fecha</th>
                <th class="px-4 py-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr class="">
                <td class="border px-4 py-2">{{ loop.index }}</td>
                <td class="border px-4 py-2">{{ cliente['nombre'] }}</td>
                <td class="border px-4 py-2">{{ cliente['telefono'] }}</td>
                <td class="border px-4 py-2">{{ cliente['fecha'] }}</td>
                <td class="border px-4 py-2">
                    <a href="/clientes/edit/{{cliente['id']}}" class="bg-green-700 w-fit py-1 px-2 rounded-md">editar</a>
                    <a href="/clientes/borrar/{{cliente['id']}}" class="bg-red-700 w-fit py-1 px-2 rounded-md">eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'footer.html' %}