{% include 'header.html' %}
    <!-- CUERPO -->
    <div class="contenedor bg-[#262626] w-screen mx-auto px-12 py-20">
        <div class="cartel-main flex flex-col gap-y-2">
            <h1 class="text-4xl font-bold">Custom jumbotron</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam blanditiis minima dolore asperiores. Ea aspernatur ratione similique. Iure, tenetur eligendi placeat ipsum dolore commodi maiores. Eaque inventore hic asperiores? Sequi.</p>
            <button class="bg-blue-700 w-fit py-2 px-4 rounded-md">
                Example button
            </button>
        </div>
    </div>
{% include 'footer.html' %}